.app {
    padding-top: 50px;
    &__note-filter-container {
        margin-bottom: 30px;
        margin-right: -15px;
    }
    &__aside {
        width: 180px;
    }
}

.create-note-btn {
    width: 100%;
}